'atom-text-editor.vim-mode:not(.insert-mode)':
  'g s': 'rails-open-rspec:open-rspec-file'
  'ctrl-j': 'core:page-down'
  'ctrl-k': 'core:page-up'
  '\\ t': 'fuzzy-finder:toggle-file-finder'

'.platform-darwin.vim-mode:not(.insert-mode)':
  'g shift-T': 'pane:show-previous-item'
  'g t': 'pane:show-next-item'
  'ctrl-j': 'core:move-down'
  'ctrl-k': 'core:move-up'

'.select-list.fuzzy-finder .editor':
  'ctrl-j': 'core:move-down'
  'ctrl-k': 'core:move-up'

'.preview-pane.pane-item':
  'ctrl-j': 'core:move-down'
  'ctrl-k': 'core:move-up'

'.platform-darwin':
  'cmd-t': 'application:new-file'

'.settings-view.pane-item':
  'g shift-T': 'pane:show-previous-item'
  'g t': 'pane:show-next-item'

'.preview-pane.pane-item':
  'g shift-T': 'pane:show-previous-item'
  'g t': 'pane:show-next-item'
